/*
Remove browser default padding and margin
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*
Make margin, padding and font-sizing easy
1rem = root element font-size
i.e. 1rem = 10px (62.5% of 16px)
*/
html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box; }

/*
Set project font
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #6b6b6b; }

.heading-primary {
  color: white;
  margin-left: 2rem;
  background-image: linear-gradient(to right, #ff288d, #ff2f28);
  /*Clip background where text is*/
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /*Let bg gradient thru*/
}

.heading-primary--main {
  text-transform: uppercase;
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1rem;
}

.heading-primary--sub {
  text-transform: uppercase;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .5rem;
  margin-top: -1rem;
  padding-bottom: 1rem;
}

.gradient-controls {
  float: right;
  margin-top: -8rem;
  margin-right: 2rem;
}

.gradient-output {
  background-color: white;
  padding: 2rem;
  font-size: 2rem;
}

.row {
  max-width: 100%;
}

.row:not(:last-child) {
  margin-bottom: 8rem; 
}

.row::after {
  content: "";
  display: table;
  clear: both; 
}

.col-1-of-2 {
  float: left; 
  width: calc(100% / 2); 
}

.gradient {
  text-align: center;
  position: relative;
  transition: all .2s;
}

.gradient-1,
.gradient-2 {
  height: 85vh;
}

#picker-1,
#picker-2 {
  margin-top: 15rem;
}

.btn-primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 1rem;
  font-size: 1.6rem;
  border-radius: 6px;
  background-color: white;
  text-transform: uppercase;
  color: #FF6700;
}

.btn-primary:hover {
  background-color: #ff954d;
  color: white;
}

.btn-primary:focus {
  outline: none;
}

.slidecontainer {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 15%;
  height: 25px; /* Specified height */
  background: white;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}